body{
    margin: 0;
    cursor: url("../assets/pointer.png") 16 16, auto;
}

body:active{
  cursor: url("../assets/pointer_click.png") 16 16, auto;
}

a, summary, button{
  cursor: url("../assets/pointer.png") 16 16, pointer;
}
a:active, summary:active, button:active{
  cursor: url("../assets/pointer_click.png") 16 16, pointer;
}




header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.page-wrapper{
    width:100%;
    min-height: 100vh;   /* 화면 높이만큼 차지 */
    position: relative;
}

.header{
    position: fixed;
    
}

.title{
    font-family: "VCRMono";
    color: rgb(0,0,0);
    font-size: 30px;
    text-decoration: none;
    
}

.navbar{
    display:flex;
    position: relative; /*이게 있어야 이 안에 있는 요소가 이거 기준으로 패디이랑 마진 정함 이거 없으면 페이지 전체 기준으로 잡음*/
    justify-content: flex-end;

    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;



    

}

.navbar .title{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    
}

.navbar .menubtn{
    position: absolute;
    font-family: "VCRMono";
    color: rgb(0,0,0);
    font-size: 30px;


}



.navbar .menubtn summary{ /*메뉴옆 화살표 없애줌*/
  list-style: none;

}



.menulist{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background-color: rgb(0,0,255);
    color: rgb(255,255,255);

    height: calc(var(--real-vh, 1vh) * 100); /* ✅ var 없으면 1vh 사용 */

    

}

.menulist ul{
    padding-left: 5%;
    padding-right: 5%;
    list-style: none;
    font-size: 40px;
    
    line-height: 2em;
}




.menubtn[open] summary {
  color: white;
  position: relative;
  z-index: 999; /* menulist 위에 뜨게 */

}

.menulist a{
    display: block;

    height: 2em;          /* ✅ hover 최대 크기까지 커버 */
    line-height: 2em;

    color: inherit;   
    text-decoration: none;
}

.menulist a:hover{
    font-family: "Mine";
}

.pagediscript{
    position: absolute;


    font-family: "VCRMono";
    font-size: 15px;
    color: rgb(255,255,255);

    padding-left: 5%;
    padding-right: 5%;
    bottom: 5%;

    line-height: 2em;
}



.canvas{
    position: fixed;
    inset: 0; /*이거댐에 캔버스가 웹페이지 전체영역쓰고있음*/
    

    perspective: 100vh; 

    
    transform-style: preserve-3d;
    will-change: transform;
    transform: translateZ(0); /* GPU 타게 하는 흔한 트릭 */
    

}

.imgs{
  position: absolute;
  inset: 0;
}

.imgs a{
  position: absolute;
  display: block;
  transition: width 0.3s ease, transform 0.3s ease;
}

.img1{
    width: 10.5vw;
    left: 10vw;
    top: 30vh;

}
.img2{
    width: 8vw;
    left: 25vw;
    top: 12vh;
    
}
.img3{
    width: 8vw;
    left: 30vw;
    top: 50vh;
    
}
.img4{
    width: 9vw;
    left: 40vw;
    top: 70vh;
    
}
.img5{
    width: 8vw;
    left: 58vw;
    top: 40vh;
    
}
.img6{
    width: 8.5vw;
    left: 68vw;
    top: 20vh;

    
    
}
.img7{
    width: 12vw;
    right: 6vw;
    top: 40vh;
    
    
}


.imgs a:hover{
    transform: scale(1.5);
    filter: saturate(2) brightness(1);
}



.imgs img{
  width: 100%;
  height: auto;
  display: block;
}


@media (max-width: 800px){
    .pagediscript{
        font-size: 8px;
    }
    .menulist ul{
    font-size: 20px;
    }
}





@font-face {
    font-family: "VCRMono";
    src: url("assets/VCR_OSD_MONO_1.001.ttf") format("truetype");
    padding-left: 3%;
}


@font-face {
    font-family: "Mine";
    src: url("assets/Minecraft\ 2.ttf") format("truetype");
    padding-left: 5%;
}


