html, body{
  cursor: url("assets/pointer3.png") 64 64, auto;
}

/* 클릭 중일 때 전체 커서 변경 */
body.is-clicking,
body.is-clicking *{
  cursor: url("assets/pointer_click3.png") 64 64, auto !important;
}

header, .navbar, .page-wrapper, .menulist{
  cursor: url("assets/pointer3.png") 64 64, auto;
}

a, summary, button{
  cursor: url("assets/pointer3.png") 64 64, pointer;
}

/* canvas 위에서도 동일하게 */
canvas, .canvas, .imgs, .imgs *{
  cursor: inherit;
}



header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

p{
    font-family: "VCRMono";
    color: rgb(0, 0, 255);
}

.page-wrapper{
    width:100%;
    min-height: 100vh;   /* 화면 높이만큼 차지 */
    position: relative;
}



.title{
    font-family: "VCRMono";
    color: rgb(0,0,0);
    font-size: 30px;
    text-decoration: none;
    
}

.navbar{
    display:flex;
    position: relative; /*이게 있어야 이 안에 있는 요소가 이거 기준으로 패디이랑 마진 정함 이거 없으면 페이지 전체 기준으로 잡음*/
    justify-content: flex-end;

    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;



    

}

.navbar .title{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    
}

.navbar .menubtn{
    position: absolute;
    font-family: "VCRMono";
    color: rgb(0,0,0);
    font-size: 30px;


}



.navbar .menubtn summary{ /*메뉴옆 화살표 없애줌*/
  list-style: none;

}



.menulist{
    position: fixed;
    top:0;
    right:0;
    width: 30vw;
    height: 100%;

    background-color: rgb(0,0,255);
    color: rgb(255,255,255);

    height: calc(var(--real-vh, 1vh) * 100); /* ✅ var 없으면 1vh 사용 */

    transform: translateX(100%);   /* 처음엔 화면 밖 */
    transition: transform 0.35s ease;

    

}

.menulist ul{
    padding-left: 5%;
    padding-right: 5%;
    list-style: none;
    font-size: 30px;
    
    line-height: 2em;
}




.menubtn[open] summary {
  color: white;
  position: relative;
  z-index: 999; /* menulist 위에 뜨게 */

}

.menubtn[open] .menulist{
  transform: translateX(0);
}

.menulist a{
    display: block;

    height: 2em;          /* ✅ hover 최대 크기까지 커버 */
    line-height: 2em;

    color: inherit;   
    text-decoration: none;
}

.menulist a:hover{
    font-family: "Mine";
}

.pagediscript{
    position: absolute;


    font-family: "VCRMono";
    font-size: 10px;
    color: rgb(255,255,255);

    padding-left: 5%;
    padding-right: 5%;
    bottom: 5%;

    line-height: 2em;
}



.canvas{
    position: fixed;
    inset: 0; 
    

    perspective: 100vh; 

    
    transform-style: preserve-3d;
    will-change: transform;
    transform: translateZ(0);
    

}

.lizard{
    position: fixed;
    width: clamp(60px, 9vw, 9vw);
    left: 5%;
    bottom: 5%;

    opacity: 0;
    transition: opacity 500ms ease;
    cursor: pointer; 

    filter: drop-shadow(0 0 1em rgba(52, 255, 245, 0.833));
}

.lizard.is-visible{
    opacity: 1;
}


.lizard img{
    width: 100%;
}

.imgs{
  position: absolute;
  inset: 0;
}

.imgs a{
  position: absolute;
  display: block;
  transition: width 0.3s ease, transform 0.3s ease;
}

.img1{
    width: 10.5vw;
    left: 10vw;
    top: 30vh;

}
.img2{
    width: 8vw;
    left: 25vw;
    top: 12vh;
    
}
.img3{
    width: 8vw;
    left: 30vw;
    top: 50vh;
    
}
.img4{
    width: 9vw;
    left: 40vw;
    top: 70vh;
    
}
.img5{
    width: 8vw;
    left: 58vw;
    top: 40vh;
    
}
.img6{
    width: 8.5vw;
    left: 68vw;
    top: 20vh;

    
    
}
.img7{
    width: 12vw;
    right: 6vw;
    top: 40vh;
    
    
}


.imgs a:hover{
    transform: scale(1.5);
    filter: saturate(2) brightness(1);
}



.imgs img{
  width: 100%;
  height: auto;
  display: block;
}





@media (max-width: 800px){
    .pagediscript{
        font-size: 8px;
    }
    .menulist ul{
    font-size: 20px;
    }
    .imgs a:hover{
    transform: scale(1.5);
    filter: saturate(2) brightness(1);
    }

    .imgs a.is-active{
    transform: scale(1.5);
    filter: saturate(2) brightness(1);
    }
}




@media (max-width: 480px){

 
  .canvas{
    touch-action: pan-y; /* 세로 스크롤은 살리고, 가로/드래그는 우리가 컨트롤 */
  }

  .menulist{
    width: 100%;
  }

 
  .imgs a:hover{
    transform: none;
    filter: none;
  }

 
  .imgs a.is-active{
    transform: scale(1.5);
    filter: saturate(2) brightness(1);
  }
    .img1{
        width: 15vw;
        left: 10vw;
        top: 30vh;
    }
    .img2{
        width: 16vw;
        left: 25vw;
        top: 12vh;
        
    }
    .img3{
        width: 17vw;
        left: 20vw;
        top: 53vh;
        
    }
    .img4{
        width: 14vw;
        left: 40vw;
        top: 70vh;
        
    }
    .img5{
        width: 16vw;
        left: 56vw;
        top: 45vh;
        
        
        
    }
    .img6{
        width: 17vw;
        left: 68vw;
        top: 20vh;

        
        
    }
    .img7{
        width: 15vw;
        right: 8vw;
        top: 36vh;
        
        
    }


}










@font-face {
    font-family: "VCRMono";
    src: url("assets/VCR_OSD_MONO_1.001.ttf") format("truetype");
    padding-left: 3%;
}


@font-face {
    font-family: "Mine";
    src: url("assets/Minecraft\ 2.ttf") format("truetype");
    padding-left: 5%;
}


