body{
    margin: 0;
    overflow-x: hidden;

}
html, body{
  cursor: url("../assets/pointer_click3.png") 64 64, auto;
}


body.is-clicking,
body.is-clicking *{
  cursor: url("../assets/pointer_click3.png") 64 64, auto !important;
}

header, .navbar, .page-wrapper, .menulist{
  cursor: url("../assets/pointer3.png") 64 64, auto;
}

a, summary, button{
  cursor: url("../assets/pointer3.png") 64 64, pointer;
}


canvas, .canvas, .imgs, .imgs *{
  cursor: inherit;
}

.indent{
  margin-left: 5.3em;
}



header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family:"VCRMono";

}

.page-wrapper{
    width:100%;
    min-height: 100vh;   
    position: relative;
}



h1{
    font-family: "VCRMono";
    color: rgb(0, 0, 255);
    letter-spacing: 0.15em;
}

h2{
    font-family: "VCRMono";
    color: rgb(0, 0, 255);
    
}

h3{
    font-family: "VCRMono";
    color: rgb(0, 0, 255);
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);


}






.title{
    font-family: "VCRMono";
    color: rgb(0,0,0);
    font-size: 30px;
    text-decoration: none;
    
}

.navbar{
    display:flex;
    position: relative;
    justify-content: flex-end;

    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
  

}
.navbar .title{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    
}

.navbar .menubtn{
    position: absolute;
    font-family: "VCRMono";
    color: rgb(0,0,0);
    font-size: 30px;


}

.navbar .menubtn summary{ 
  list-style: none;

}

.menulist{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;

    background-color: rgb(0,0,255);
    color: rgb(255,255,255);

    height: calc(var(--real-vh, 1vh) * 100);

    

}

.menulist ul{
    padding-left: 5%;
    padding-right: 2em;
    list-style: none;
    font-size: 40px;
    
    line-height: 2em;
}




.menubtn[open] summary {
  color: white;
  position: relative;
  z-index: 999;

}

.menulist a{
    display: block;

    height: 2em;
    line-height: 2em;

    color: inherit;   
    text-decoration: none;
}

.menulist a:hover{
    font-family: "Mine";
}

.pagediscript{
    position: absolute;


    font-family: "VCRMono";
    font-size: 15px;
    color: rgb(255,255,255);

    padding-left: 5%;
    padding-right: 5%;
    bottom: 5%;

    line-height: 2em;
}

.pagediscript h2{
    color: rgb(255,255,255);
}









.canvas{
  position: relative;
  inset: 0;
  min-height: 100vh;
  width: 100%;
}





.city{
    position: fixed;
    top: 5vh;   
    left: 2vw;  
        
    font-size: clamp(50px, 3vw, 3vw);
    color: rgb(0,0,255);

    margin: 0;
}

.poolname{
    position: fixed;
    top: 25vh;  
    left: 2vw;    

    width: 100%;


    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

    line-height: 1em;

    gap: 10vh;



}

.poolname h2{
    line-height: 1.5em;
    margin: 0;
    font-size: clamp(15px, 1.5vw, 1.5vw);
}

.poolname p{
    line-height: 1.5em;
    margin: 0;
    font-size: clamp(15px, 1.3vw, 1.3vw);
}

.condition{
    margin-top: 10vh;
    display: flex;
    flex-wrap: column;

    gap: 5vw;

}

.condition h3{
    font-size: clamp(15px, 1.5vw, 1.5vw);
}



.photo-wrap{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    max-width: 75vw;
    z-index: 5;
    width: 80vw;
    height: 30vw;
    overflow: hidden;

    border: 0.7vw solid blue;
    border-radius: 0.5em;  
    box-shadow: 15px 15px 20px rgba(0,0,0,0.815);


    will-change: transform, left, top, width, height;

    transition: transform 550ms ease, width 550ms ease, top 550ms ease, left 550ms ease, height 550ms ease;
}



.img1{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;

    inset: 0;
    object-fit: cover;
    
    border: 0;  
    border-radius: 0;
    box-shadow: none;  
}


body.is-scrolled .photo-wrap{
  position: relative;

  margin-top: 25vh; 
  left: max(200px, 30vw);

  transform: none; 
  width: 30vw;
  height: auto;
  overflow: visible;

  border: 0.7vw solid blue;
  border-radius: 0.5em;
  box-shadow: 15px 15px 20px rgba(0,0,0,0.815);
}

body.is-scrolled .img1{
    position: relative;
    inset: auto;
    width: 100%;
    height: auto; 
    object-fit: contain;
    display: block;
}










.leftlist{
    position: absolute;

    left: 2vw;
    bottom: 2vh;  

    display: flex;
    flex-direction: column;

    transform: translateY(40vh);
    transition: transform 450ms ease, opacity 450ms ease, bottom 450ms ease;
    z-index: 50;
}

.leftlist a{
    display: block;

    font-family: "VCRMono";
    font-size: clamp(15px, 1.3vw, 1.3vw); 
    color: #000;
    text-decoration: none;

    margin-top: 0.3em;
    margin-bottom: 0.3em;

    height: 2em;
    line-height: 2em;  

    transition: transform 200ms ease, color 200ms ease, font-family 200ms ease;
    transform-origin: left center;
    will-change: transform;
    
}

.leftlist a:hover{
    font-family: "Mine";
    transform: scale(1.4);
    color: rgb(0, 0, 255);

}

body.is-scrolled .leftlist{
    position: fixed;
    opacity: 1;
    left: 2vw;
    bottom: 2vh;

    transform: translateY(0);
}




.discript{
    position: absolute;     
    left: 30vw;
    right: 0;
    top: 3vh;
    width: 68vw;       

    display: flex;
    flex-direction: column;
    gap: 10vh;

    opacity: 0;
    transform: translateY(40vh);
    transition: transform 450ms ease, opacity 450ms ease;
    z-index: 50;
}

body.is-scrolled .discript{
    position: relative;
    opacity: 1;
    transform: translateY(0);

    margin-bottom: 20vh;
}

.discript .d1{
    align-self: flex-start;
    margin-bottom: 0;
    /* width: 90%;
    padding: 2%; */
    line-height: 2em;
    background: white;

  
}

.d1i{
    display: flex;
    flex-wrap: wrap;
    border: 0.7vw solid blue;
    border-radius: 0.5em;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.815);

    width: 60vw;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.d1i img{
    width: 15vw;
    height: auto;
    overflow: hidden;
}

.d1i .img_4{
    width: 50%;
}

.discript .d2{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end; 
    margin-top: 0;
    margin-bottom: 0;
    /* width: 80%;  
    padding: 2%; */
    line-height: 2em;
    background: white;
}

.d2 p{
    flex: 0 0 100%;
}

.d2 img{
    width: 50%;
    height: auto;
    display: block;
    
}

.d2i{
    display: flex;
    flex-wrap: wrap;
    border: 0.7vw solid blue;
    border-radius: 0.5em;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.815);
    margin-bottom: 2vh;
}

.discript .d3{
    align-self: flex;
    margin-top: 0;
    /* width: 60%;
    padding: 2%; */
    line-height: 2em;
    background: white;
}

.d3 iframe{
    width: 40vw;
    height: 20vw;
    
    filter:
    grayscale(100%)
    invert(60%)
    contrast(130%)
    brightness(110%)
    sepia(80%)
    hue-rotate(189deg)
    saturate(650%);

    border-radius: 0.5em;

}

@media (max-width: 800px){
    .pagediscript{
        font-size: 8px;
    }
    .menulist ul{
    font-size: 20px;
    }
    .imgs a:hover{
    transform: scale(1.5);
    filter: saturate(2) brightness(1);
    }

    .imgs a.is-active{
    transform: scale(4);
    filter: saturate(2) brightness(1);
    }

}






@media (max-width: 480px){

    .canvas{
        width: 100%;
        height: 100vh;
    }




    .city{
        top: 7vh;
        font-size: 28px;

    }

    .poolname{
    
    position: fixed;
    top: 17vh;  
    left: 2vw;  
    right: 2vw;  

    width: 100%;

    }

     .poolname h2{
    font-size: 18px;
    }

    .poolname p{
    font-size: 13px;
    }

    .condition{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;

    gap: 5vw;

}

.condition h3{
    font-size: 13px
}







}



@font-face {
    font-family: "VCRMono";
    src: url("../assets/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

@font-face {
    font-family: "Mine";
    src: url("../assets/Minecraft\ 2.ttf") format("truetype");
}

