body{
    margin: 0;
    overflow-x: hidden;

}

.discript{ outline: 2px solid red; }
canvas, .canvas{ outline: 2px solid lime; }

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family:"VCRMono";

}

.page-wrapper{
    width:100%;
    min-height: 100vh;   /* 화면 높이만큼 차지 */
    position: relative;
}



h1{
    font-family: "VCRMono"; /* 1번처럼 크게 */
    color: rgb(0, 0, 255);
    letter-spacing: 0.15em;
}

h2{
    font-family: "VCRMono";
    color: rgb(0, 0, 255);
    
}

p{
    font-family: "VCRMono";
    color: rgb(0, 0, 255);
    font-size: 20px;


}






.title{
    font-family: "VCRMono";
    color: rgb(0,0,0);
    font-size: 30px;
    text-decoration: none;
    
}

.navbar{
    display:flex;
    position: relative; /*이게 있어야 이 안에 있는 요소가 이거 기준으로 패디이랑 마진 정함 이거 없으면 페이지 전체 기준으로 잡음*/
    justify-content: flex-end;

    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
  

}
.navbar .title{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    
}

.navbar .menubtn{
    position: absolute;
    font-family: "VCRMono";
    color: rgb(0,0,0);
    font-size: 30px;


}

.navbar .menubtn summary{ /*메뉴옆 화살표 없애줌*/
  list-style: none;

}

.menulist{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;

    background-color: rgb(0,0,255);
    color: rgb(255,255,255);

    height: calc(var(--real-vh, 1vh) * 100); /* ✅ var 없으면 1vh 사용 */

    

}

.menulist ul{
    padding-left: 5%;
    padding-right: 2em;
    list-style: none;
    font-size: 40px;
    
    line-height: 2em;
}




.menubtn[open] summary {
  color: white;
  position: relative;
  z-index: 999; /* menulist 위에 뜨게 */

}

.menulist a{
    display: block;

    height: 2em;          /* ✅ hover 최대 크기까지 커버 */
    line-height: 2em;

    color: inherit;   
    text-decoration: none;
}

.menulist a:hover{
    font-family: "Mine";
}

.pagediscript{
    position: absolute;


    font-family: "VCRMono";
    font-size: 15px;
    color: rgb(255,255,255);

    padding-left: 5%;
    padding-right: 5%;
    bottom: 5%;

    line-height: 2em;
}

.pagediscript h2{
    color: rgb(255,255,255);
}







.canvas{
  position: relative;
  inset: 0;
  min-height: 100vh;
  width: 100%;
}





.city{
    font-size: clamp(12px, 15vw, 15vw);


    position: absolute;
    top: 40vh;
    left: 2vw;

    transition: transform 550ms ease, font-size 550ms ease, top 550ms ease, left 550ms ease;
    z-index: 10;
    line-height: 0.6;
    margin: 0;

}

body.is-scrolled .city{
    position: fixed;
    top: 5vh;          /* 위로 */
    font-size: clamp(50px, 6vw, 6vw);


    color: rgb(0,0,255);
}



/* 이미지 큰 상태(1번) */
.photo-wrap{
    position: absolute;
    left: 50%;
    top: 30vh;
    transform: translate(-50%, -50%) scaleX(1.3) scaleY(0.7);



    width: 58vw;           /* 1번: 크게 */
    max-width: 75vw;
    z-index: 5;

    will-change: transform, left, top, width, height;

    transition: transform 550ms ease, width 550ms ease, top 550ms ease, left 550ms ease, height 550ms ease;
}

.img1{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    border: 0.7em solid blue;
    border-radius: 0.5em;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.815);
    z-index: 0;
}


body.is-scrolled .photo-wrap{
    position: fixed;
    top: 5vh;          /* 위쪽으로 살짝 */

    left: max(200px, 30vw);            
    transform: translate(0, -50%) scaleX(1);

    width: clamp(40vw, 30vw, 30vw);
}

/* body.is-scrolled .photo-wrap:hover{
    width: 900px;
    transition: width 400ms ease;
} */





.poolname{

    font-size: clamp(10px, 5vw, 5vw);

    position: absolute;
    top: 30vh;
    left: 2vw;



    transition: transform 450ms ease, font-size 450ms ease, top 450ms ease, left 450ms ease, opacity 300ms ease;
    z-index: -1;
    line-height: 0.6;
    line-height: 1em;

    opacity: 0;

}

body.is-scrolled .poolname{
    position: fixed;
    top: 11.5vh;      

    font-size: clamp(15px, 1.7vw, 1.7vw);

    color: rgb(0, 0, 0);
    opacity: 100%;;

}


.leftlist{
    position: absolute;

    left: 2vw;
    bottom: 2vh;  

    display: flex;
    flex-direction: column;

    transform: translateY(40vh);
    transition: transform 450ms ease, opacity 450ms ease, bottom 450ms ease;
    z-index: 50;
}

.leftlist a{
    display: block;

    font-family: "VCRMono";
    font-size: clamp(15px, 1.3vw, 1.3vw);       /* 예시 느낌 */
    color: #000;
    text-decoration: none;

    margin-top: 0.3em;
    margin-bottom: 0.3em;

    height: 2em;          /* ✅ hover 최대 크기까지 커버 */
    line-height: 2em;     /* ✅ baseline 흔들림 방지 */

    transition: transform 200ms ease, color 200ms ease, font-family 200ms ease;
    transform-origin: left center; /* ✅ 커질 때 왼쪽 기준 */
    will-change: transform;
    
}

.leftlist a:hover{
    font-family: "Mine";
    transform: scale(1.4);
    color: rgb(0, 0, 255);

}

body.is-scrolled .leftlist{
    position: fixed;
    opacity: 1;
    left: 2vw;
    bottom: 2vh;

    transform: translateY(0);
}




.discript{
    position: absolute;      /* discript만 좌표로 배치 */
    left: 40vw;
    right: 0;
    top: 84vh;
    width: auto;          /* ✅ */
    max-width: 60vw;


    display: flex;
    flex-direction: column;
    gap: 0px;

    opacity: 0;
    transform: translateY(40vh);
    transition: transform 450ms ease, opacity 450ms ease;
    z-index: 50;
}

body.is-scrolled .discript{
    opacity: 1;
    transform: translateY(0);
}

.discript .d1{
    align-self: flex-start;
    margin-bottom: 0;
    width: 90%;     /* 기준선 */
    padding: 2%;
    line-height: 2em;
    background: white;
  
}

.discript .d2{
    align-self: flex-end; 
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;   /* 👉 더 오른쪽 */
    padding: 2%;
    line-height: 2em;
    background: white;
}

.discript .d3{
    align-self: flex-end;   /* 👈 컨테이너의 오른쪽 끝 */
    margin-top: 0;
    width: 60%;
    padding: 2%;
    line-height: 2em;
    background: white;
}

@media (max-width: 800px){
    .pagediscript{
        font-size: 8px;
    }
    .menulist ul{
    font-size: 20px;
    }
    .imgs a:hover{
    transform: scale(1.5);
    filter: saturate(2) brightness(1);
    }

    .imgs a.is-active{
    transform: scale(4);
    filter: saturate(2) brightness(1);
    }

}

@media (max-width: 480px){
    .canvas{
        width: 100%;
        height: 100vh;
    }

    body.is-scrolled .photo-wrap{
    top: 21vh;          /* 위쪽으로 살짝 */

    left: 2vw;            
    transform: translate(0, -50%) scaleX(1);

    width: 85vw;
    }
    body.is-scrolled .city{
        font-size: 60px;

    }

    body.is-scrolled .discript{
    top: 84vh;
    width: 80vw;
    font-size: 5px;
    right: 0;
    }

    body.is-scrolled .poolname{
        top: 15vh;
        font-size: 30px;

    }
    
    p{
        font-size: 10px;
    }





}



@font-face {
    font-family: "VCRMono";
    src: url("../assets/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

@font-face {
    font-family: "Mine";
    src: url("../assets/Minecraft\ 2.ttf") format("truetype");
}


