body{
    margin: 0;
    overflow-x: hidden;

}
html, body{
  cursor: url("../assets/pointer_click3.png") 64 64, auto;
}


body.is-clicking,
body.is-clicking *{
  cursor: url("../assets/pointer_click3.png") 64 64, auto !important;
}

header, .navbar, .page-wrapper, .menulist{
  cursor: url("../assets/pointer3.png") 64 64, auto;
}

a, summary, button{
  cursor: url("../assets/pointer3.png") 64 64, pointer;
}


canvas, .canvas, .imgs, .imgs *{
  cursor: inherit;
}

.indent{
  margin-left: 6em;
}



header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family:"VCRMono";

}

.page-wrapper{
    width:100%;
    min-height: 100vh;   
    position: relative;
}



h1{
    font-family: "VCRMono";
    color: rgb(0, 0, 255);
    letter-spacing: 0.15em;
}

h2{
    font-family: "VCRMono";
    color: rgb(0, 0, 255);
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 255);
    font-size: 20px;


}






.title{
    font-family: "VCRMono";
    color: rgb(0,0,0);
    font-size: 30px;
    text-decoration: none;
    
}

.navbar{
    display:flex;
    position: relative;
    justify-content: flex-end;

    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
  

}
.navbar .title{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    
}

.navbar .menubtn{
    position: absolute;
    font-family: "VCRMono";
    color: rgb(0,0,0);
    font-size: 30px;


}

.navbar .menubtn summary{ 
  list-style: none;

}

.menulist{
    position: fixed;
    top:0;
    right:0;
    width: 30vw;
    height: 100%;

    background-color: rgb(0,0,255);
    color: rgb(255,255,255);

    height: calc(var(--real-vh, 1vh) * 100); /* ✅ var 없으면 1vh 사용 */

    transform: translateX(100%);   /* 처음엔 화면 밖 */
    transition: transform 0.35s ease;

    

}

.menulist ul{
    padding-left: 5%;
    padding-right: 2em;
    list-style: none;
    font-size: 40px;
    
    line-height: 2em;
}




.menubtn[open] summary {
  color: white;
  position: relative;
  z-index: 999;

}
.menubtn[open] .menulist{
  transform: translateX(0);
}

.menulist a{
    display: block;

    height: 2em;
    line-height: 2em;

    color: inherit;   
    text-decoration: none;
}

.menulist a:hover{
    font-family: "Mine";
}

.pagediscript{
    position: absolute;


    font-family: "VCRMono";
    font-size: 10px;
    color: rgb(255,255,255);

    padding-left: 5%;
    padding-right: 5%;
    bottom: 5%;

    line-height: 2em;
}

.pagediscript h2{
    color: rgb(255,255,255);
}









.canvas{
  position: relative;
  inset: 0;
  min-height: 100vh;
  width: 100%;
}





.city{
    font-size: clamp(12px, 14.5vw, 14.5vw);


    position: absolute;
    top: 40vh;
    left: 2vw;

    transition: transform 550ms ease, font-size 550ms ease, top 550ms ease, left 550ms ease;
    z-index: 10;
    line-height: 0.6;
    margin: 0;

}

body.is-scrolled .city{
    position: fixed;
    top: 5vh;         
    font-size: clamp(50px, 6vw, 6vw);


    color: rgb(0,0,255);
}




.photo-wrap{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    max-width: 75vw;
    z-index: 5;
    width: 80vw;
    height: 30vw;
    overflow: hidden;

    border: 0.7vw solid blue;
    border-radius: 0.5em;  



    will-change: transform, left, top, width, height;

    transition: transform 550ms ease, width 550ms ease, top 550ms ease, left 550ms ease, height 550ms ease;
}



.img1{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;

    inset: 0;
    object-fit: cover;
    
    border: 0;  
    border-radius: 0;
    box-shadow: none;  
}


body.is-scrolled .photo-wrap{
  position: relative;

  margin-top: 25vh; 
  left: max(200px, 30vw);

  transform: none; 
  width: 30vw;
  height: auto;
  overflow: visible;

  border: 0.7vw solid blue;
  border-radius: 0.5em;

}

body.is-scrolled .img1{
    position: relative;
    inset: auto;
    width: 100%;
    height: auto; 
    object-fit: contain;
    display: block;
}







.poolname{

    font-size: clamp(10px, 5vw, 5vw);

    position: absolute;
    top: 30vh;
    left: 2vw;



    transition: transform 450ms ease, font-size 450ms ease, top 450ms ease, left 450ms ease, opacity 300ms ease;
    z-index: -1;
    line-height: 0.6;
    line-height: 1em;

    opacity: 0;

}

body.is-scrolled .poolname{
    position: fixed;
    top: 11.5vh;      

    font-size: clamp(15px, 1.7vw, 1.7vw);

    color: rgb(0, 0, 0);
    opacity: 100%;;

}


.leftlist{
    position: absolute;

    left: 2vw;
    bottom: 2vh;  

    display: flex;
    flex-direction: column;

    transform: translateY(40vh);
    transition: transform 450ms ease, opacity 450ms ease, bottom 450ms ease;
    z-index: 50;
}

.leftlist a{
    display: block;

    font-family: "VCRMono";
    font-size: clamp(15px, 1.3vw, 1.3vw); 
    color: #000;
    text-decoration: none;

    margin-top: 0.3em;
    margin-bottom: 0.3em;

    height: 2em;
    line-height: 2em;  

    transition: transform 200ms ease, color 200ms ease, font-family 200ms ease;
    transform-origin: left center;
    will-change: transform;
    
}

.leftlist a:hover{
    font-family: "Mine";
    transform: scale(1.4);
    color: rgb(0, 0, 255);

}

body.is-scrolled .leftlist{
    position: fixed;
    opacity: 1;
    left: 2vw;
    bottom: 2vh;

    transform: translateY(0);
}




.discript{
    position: absolute;     
    left: 30vw;
    right: 0;
    top: 3vh;
    width: 68vw;       

    display: flex;
    flex-direction: column;
    gap: 10vh;

    opacity: 0;
    transform: translateY(40vh);
    transition: transform 450ms ease, opacity 450ms ease;
    z-index: 50;
}

body.is-scrolled .discript{
    position: relative;
    opacity: 1;
    transform: translateY(0);

    margin-bottom: 20vh;
}

.discript .d1{
    align-self: flex-start;
    margin-bottom: 0;
    /* width: 90%;
    padding: 2%; */
    line-height: 2em;
    background: white;

  
}

.d1i{
  display: flex;
  flex-wrap: nowrap;           /* 한 줄 유지 */
  align-items: stretch;

  height: 30vh;                /* 프레임 높이 고정 */
  width: min(60vw, 100%);      /* 화면 대비 가로 유지 + 너무 커지면 제한 */
  overflow: hidden;            /* 프레임 밖 잘라냄 */

  border: 0.7vw solid blue;
  border-radius: 0.5em;


  margin-top: 10vh;
  margin-bottom: 2vh;
  box-sizing: border-box;
}

/* 이미지: 프레임 높이(30vh)에 맞추고, 가로는 사진 비율대로 */
.d1i img{
  height: 100%;
  width: auto;
  display: block;              /* 이미지 아래/옆 공백 방지 */
  object-fit: cover;           /* 프레임 안 꽉 채우기 + 잘림 허용 */
  flex: 0 0 auto;              /* 이미지가 늘어나며 여백 만들지 않게 */
}



.discript .d2{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end; 
    margin-top: 0;
    margin-bottom: 0;
    /* width: 80%;  
    padding: 2%; */
    line-height: 2em;
    background: white;
}

.d2 p{
    flex: 0 0 100%;
}

.d2 img{
    width: 50%;
    height: auto;
    display: block;
    
}

.d2i{
    display: flex;
    flex-wrap: wrap;
    border: 0.7vw solid blue;
    border-radius: 0.5em;

    margin-bottom: 2vh;
}

.discript .d3{
    align-self: flex;
    margin-top: 0;
    /* width: 60%;
    padding: 2%; */
    line-height: 2em;
    background: white;
}

.d3 iframe{
    width: 40vw;
    height: 20vw;
    
    filter:
    grayscale(100%)
    invert(35%)
    contrast(170%)
    brightness(100%)
    sepia(100%)
    hue-rotate(193deg)
    saturate(650%);

    border-radius: 0.5em;

}

@media (max-width: 800px){
    .pagediscript{
        font-size: 8px;
    }
    .menulist ul{
    font-size: 20px;
    }
    .imgs a:hover{
    transform: scale(1.5);
    filter: saturate(2) brightness(1);
    }

    .imgs a.is-active{
    transform: scale(4);
    filter: saturate(2) brightness(1);
    }

}






@media (max-width: 480px){

    .canvas{
        width: 100%;
        height: 100vh;
    }

    .menulist{
    width: 100%;
  }

    .photo-wrap{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1.5vw solid blue;


    }


    body.is-scrolled .photo-wrap{
    position: relative;
    
    top: 25vh;
    left: 2vw;
    transform: translate(0, 0);
    width: 88vw;

    max-width: none;
    border: 1.5vw solid blue;

    z-index: -10;
    
    }


    body.is-scrolled .city{
        top: 8vh;
        font-size: 70px;

    }

    body.is-scrolled .discript{
    display: flex;
    flex-direction: column;
    gap: 8vh;

    position: relative;
    top: 28vh;
    width: 90vw;
    font-size: 10px;
    right: 0;
    left: 2vw;

    max-width: none;

    }

    .d1i{
        margin-top: 2vh;

        border: 1.5vw solid blue;
        
    }

    .d1i img{
        width: 20vw;
    }

    .d2i{

        border: 1.5vw solid blue;
    }


    body.is-scrolled .poolname{
        top: 12vh;
        font-size: 20px;

    }
    
    p{
        font-size: 14px;
    }

    .city{
        top: 48%;
    }

    body.is-scrolled .city{
        font-size: 50px;
    }

    body.is-scrolled .leftlist a{
    font-size: 10px;
    background-color: white;

    }

   .d3{
        margin-bottom: 10vh;
    }

    .d3 h2{
        margin-bottom: 5vh;
    }

    .d3 iframe{
        width: 60vw;
        height: 30vw;
    }

     .indent{
        margin-left: 6em;
    }




}

@media (max-width: 480px){

    .canvas{
        width: 100%;
        height: 100vh;
    }

    .menulist{
    width: 100%;
  }

    .photo-wrap{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1.5vw solid blue;


    }


    body.is-scrolled .photo-wrap{
    position: relative;
    
    top: 25vh;
    left: 2vw;
    transform: translate(0, 0);
    width: 88vw;

    max-width: none;
    border: 1.5vw solid blue;

    z-index: -10;
    
    }


    body.is-scrolled .city{
        top: 8vh;
        font-size: 70px;

    }

    body.is-scrolled .discript{
    display: flex;
    flex-direction: column;
    gap: 8vh;

    position: relative;
    top: 28vh;
    width: 90vw;
    font-size: 10px;
    right: 0;
    left: 2vw;

    max-width: none;

    }

    .d1i{
        margin-top: 2vh;
        border: 1.5vw solid blue;

        display: inline-flex;    
        flex-wrap: nowrap;
        gap: 0;
        overflow: hidden;

        height: 40vw;           
        width: fit-content;  
        max-width: 90vw;        
        box-sizing: border-box;
        
    }

    .d1i img{
        width: 20vw;        
        height: 100%;           
        object-fit: cover;     
        display: block;
        flex: 0 0 auto;
    }

    body.is-scrolled .d1i{
        margin-top: 2vh;

        border: 1.5vw solid blue;
        
        display: inline-flex;   /* 추가 */
        width: fit-content;     /* ⭐ 90vw → fit-content 로 변경 */
        max-width: 90vw;
               
        height: 16vh;            
        aspect-ratio: 3 / 1;      
        overflow: hidden;
        
    }

    body.is-scrolled .d1i img{
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .d2i{

        border: 1.5vw solid blue;
    }


    body.is-scrolled .poolname{
        top: 12vh;
        font-size: 20px;

    }
    
    p{
        font-size: 14px;
    }

    .city{
        top: 48%;
    }

    body.is-scrolled .city{
        font-size: 50px;
    }

    body.is-scrolled .leftlist a{
    font-size: 10px;
    background-color: white;

    }

   .d3{
        margin-bottom: 10vh;
    }

    .d3 h2{
        margin-bottom: 5vh;
    }

    .d3 iframe{
        width: 60vw;
        height: 30vw;
    }

     .indent{
        margin-left: 6em;
    }




}



@font-face {
    font-family: "VCRMono";
    src: url("../assets/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

@font-face {
    font-family: "Mine";
    src: url("../assets/Minecraft\ 2.ttf") format("truetype");
}

